<h3><i class="fas fa-book-reader"></i>StoryBooxs</h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/github" class="btn dark darken-1">
    <i class="fab fa-github left"></i> LOG IN WITH GITHUB
    </a>
</div>